[submodule "powershell/modules/posh-git"]
	path = powershell/modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "powershell/modules/posh-hg"]
	path = powershell/modules/posh-hg
	url = https://github.com/JeremySkinner/posh-hg.git
[submodule "powershell/modules/posh-svn"]
	path = powershell/modules/posh-svn
	url = git@github.com:PProvost/posh-svn.git
	ignore = dirty
[submodule "powershell/modules/PowerTab"]
	path = powershell/modules/PowerTab
	url = git@github.com:PProvost/PowerTab.git
[submodule "powershell/modules/TabExpansionPlusPlus"]
	path = powershell/modules/TabExpansionPlusPlus
	url = https://github.com/lzybkr/TabExpansionPlusPlus.git
[submodule "Sublime Text 3/Packages/BracketHighlighter"]
	path = Sublime Text 3/Packages/BracketHighlighter
	url = https://github.com/facelessuser/BracketHighlighter.git
[submodule "Sublime Text 3/Packages/Sublime-AdvancedNewFile"]
	path = Sublime Text 3/Packages/Sublime-AdvancedNewFile
	url = https://github.com/skuroda/Sublime-AdvancedNewFile.git
[submodule "sublime text 3/packages/Moescript"]
	path = sublime text 3/packages/Moescript
	url = https://github.com/be5invis/sublimetext-moescript